@page "/Create"
@using Data
@using System.Diagnostics
@inject NavigationManager _navigationManager
@inject WeatherContext _context

<h3>Create</h3>

<Form Model="@Model" OnFinish="ValidSubmit">
    <FormItem>
        Summary: <Input @bind-Value="Model.Summary"></Input>
    </FormItem>
    <FormItem>
        Temperature (F): <InputNumber @bind-Value="Model.TemperatureF"></InputNumber>
    </FormItem>

    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code {
    private WeatherForecast Model = new WeatherForecast();

    private void ValidSubmit()
    {
        Model.Date = DateTime.UtcNow;

        Debug.Write(Model.Date);
        _context.Add(Model);
        _context.SaveChanges();

        _navigationManager.NavigateTo("fetchdata");
    }
}
