@page "/fetchdata"

@using BlazorServerExample.Data
@inject WeatherContext _context

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table DataSource="forecasts">
        <Column Field="context.Date"></Column>
        <Column Field="context.TemperatureF"></Column>
        <Column Field="context.Summary"></Column>
    </Table>

    <NavLink href="create">Create</NavLink>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = _context.WeatherForecasts.ToArray();
        await Task.CompletedTask;
    }
}
